<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/header :: main-menu"></header>

<main role="main">
    <hr>
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img = ${vacant.image})}" alt="Generic placeholder image" width="220" height="220">
            </div>
            <div class="col-md-9">
                <div class="card">
                    <h4 class="card-header">Aplicar para <strong th:text="${vacant.name}"></strong></h4>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Categoría: </strong> <span th:text="${vacant.category.name}"></span></h5>
                        <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacant.dateRelease, 'dd/MM/yyyy')}"></span></h6>
                        <h6 class="card-title"><strong>Salario Ofrecido: </strong><span th:text="${vacant.salary}"></span></h6>
                        <p class="card-text" th:text="${vacant.description}"></p>

                        <div class="card bg-light mb-3" >
                            <div class="card-body">
                                <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                                <!--                                utext interpreta las etiquetas html -->
                                <p class="card-text" th:utext="${vacant.details}"></p>
                            </div>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <a class="btn btn-info" href="#" role="button" th:href="@{/index}">Para solicitar la vacante se necesita estar registrado</a>&nbsp;
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${rol == 'USUARIO' }">
                                <a th:if="${isRequest}" class="alert alert-primary" role="alert"><i class="fas fa-file" aria-hidden="true"></i>Vacante ya solicitada</a>
                                <a th:unless="${isRequest}" class="btn btn-primary" th:href="@{/requests/create/{idVacant} (idVacant = ${vacant.id})}" role="button" title="Quiero solicitar esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i>Solicitar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<br>

<footer class="footer"  th:insert="fragments/footer :: footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>

</html>
