<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Vacantes</title>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
<header th:insert="fragments/header :: main-menu"></header>

<h1 class="text-primary">Lista de Vacantes</h1>
<table style="margin-top: 50px" class="table table-dark table-striped table-bordered table-hover">
    <tr>
        <th>Logo</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Publicacion</th>
        <th>Salario</th>
        <th>Descripcion</th>
        <th>Destacado</th>
        <th>Detalle</th>
        <th>Borrar</th>
    </tr>
    <tr th:each="tempVacant: ${vacants}">
        <td>
            <img th:src="@{/images/{img} (img = ${tempVacant.image})}" class="border border-primary rounded" width="50px" height="50px">
        </td>
        <td th:text="${tempVacant.id}"></td>
        <td th:text="${tempVacant.name}"></td>
        <td th:text="${tempVacant.date}"></td>
        <td th:text="${tempVacant.salary}"></td>
        <td th:text="${tempVacant.description}"></td>
        <td>
            <span th:if="${tempVacant.outstanding==true}" class="badge badge-success">Si</span>
            <span th:unless="${tempVacant.outstanding==true}" class="badge badge-danger">No</span>
        </td>
        <td>
            <a th:href="@{/vacants/view/{id} (id = ${tempVacant.id})}" class="btn btn-success">Detalle</a>
        </td>
        <td>
            <a th:href="@{/vacants/delete(id = ${tempVacant.id})}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>

</table>
<footer class="footer"  th:insert="fragments/footer :: footer"></footer>
</body>
</html>
